#logo {
    height: 100px;
    background-color: rgb(234, 230, 202);
    margin-bottom: 30px;
}

section {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    background-color: rgb(234, 230, 202);
}]